In [3]:
import pandas as pd

# Specify the file path
file_path = r"C:\Users\Tiasc\UNC\homework\Project 4\gamedata.csv"

# Use pandas to read the CSV file
gamedata = pd.read_csv(file_path)

# Find Game IDs with exactly 10 rounds
game_ids_with_10_rounds = gamedata['Game ID'].value_counts()[
    gamedata['Game ID'].value_counts() == 10].index

# Filter the DataFrame to keep only games with 10 rounds
df_filtered = gamedata[gamedata['Game ID'].isin(game_ids_with_10_rounds)]

# Sort the DataFrame by Game ID in ascending order and then by Round
df_filtered_sorted = df_filtered.sort_values(by=['Game ID', 'Round'])

# Reset the index
df_filtered_sorted = df_filtered_sorted.reset_index(drop=True)

df_filtered_sorted

     Game ID  Round Computer Choice Player Choice Round Winner
0      92999      1           paper        lizard       Player
1      92999      2           spock      scissors     Computer
2      92999      3           spock         paper       Player
3      92999      4          lizard        lizard         Draw
4      92999      5           spock         spock         Draw
..       ...    ...             ...           ...          ...
395   956885      6        scissors        lizard     Computer
396   956885      7           spock      scissors     Computer
397   956885      8           spock          rock     Computer
398   956885      9           paper      scissors       Player
399   956885     10           paper      scissors       Player

[400 rows x 5 columns]

In [4]:
# Calculate the total number of wins for each player
player_wins = df_filtered_sorted[df_filtered_sorted['Round Winner'] == 'Player']['Round Winner'].count()

# Calculate the total number of wins for the computer
computer_wins = df_filtered_sorted[df_filtered_sorted['Round Winner'] == 'Computer']['Round Winner'].count()

# Calculate the total number of draws
draws = df_filtered_sorted[df_filtered_sorted['Round Winner'] == 'Draw']['Round Winner'].count()

# Print the results
print("Player wins:", player_wins)
print("Computer wins:", computer_wins)
print("Draws:", draws)

Player wins: 142
Computer wins: 179
Draws: 79

In [14]:
# Calculate the total number of wins for each player for each game
game_winners = df_filtered_sorted.groupby('Game ID')['Round Winner'].value_counts().unstack().fillna(0)

# Determine the game winner based on the number of rounds won by the player and the computer
game_winners['Game Winner'] = game_winners.apply(lambda row: 'Player' if row['Player'] > row['Computer'] else 'Computer' if row['Player'] < row['Computer'] else 'Draw', axis=1)

# Reset index to make 'Game ID' a column again
game_winners.reset_index(inplace=True)

# Add 'Game Winner' column to df_filtered_sorted based on 'Game ID'
df_filtered_sorted['Game Winner'] = df_filtered_sorted['Game ID'].map(game_winners.set_index('Game ID')['Game Winner'])

# Display the DataFrame with the appended 'Game Winner' column
df_filtered_sorted

,Game ID,Round,Computer Choice,Player Choice,Round Winner,Game Winner_x,Game Winner_y,Game Winner,Game Winner_game
0,92999,1,paper,lizard,Player,Draw,Draw,Draw,Draw
1,92999,2,spock,scissors,Computer,Draw,Draw,Draw,Draw
2,92999,3,spock,paper,Player,Draw,Draw,Draw,Draw
3,92999,4,lizard,lizard,Draw,Draw,Draw,Draw,Draw
4,92999,5,spock,spock,Draw,Draw,Draw,Draw,Draw
...,...,...,...,...,...,...,...,...,...
395,956885,6,scissors,lizard,Computer,Computer,Computer,Computer,Computer
396,956885,7,spock,scissors,Computer,Computer,Computer,Computer,Computer
397,956885,8,spock,rock,Computer,Computer,Computer,Computer,Computer
398,956885,9,paper,scissors,Player,Computer,Computer,Computer,Computer
399,956885,10,paper,scissors,Player,Computer,Computer,Computer,Computer

In [12]:
# Specify the file path for the CSV file
output_file_path = "cleanedgamedata.csv"

# Export the DataFrame to a CSV file
df_filtered_sorted.to_csv(output_file_path, index=False)